{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eccomerce</title>
    <!-- <style href="{% static 'css/styles.css' %}" >
    </style> -->

    <!-- i cant get the css files connected to this html -->
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        * {
            box-sizing: border-box;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        nav {

        }
    </style>
</head>
<body>
    <nav>
        <div>
            Eccommerce
        </div>
        <div>
            <ul>
                <li>Products</li>
                <li>Cart</li>
                <li>Checkout</li>
                <li>Log-in</li>
            </ul>
        </div>
    </nav>

    <header>

    </header>

    <main>

    </main>

    <footer>

    </footer>
    
</body>
</html>